:root {
  --g-color-black: #000;
  --g-color-white: #fff;

  --g-color-grey-100: #f1f2f4;
  --g-color-grey-600: #5d636f;
  --g-color-grey-700: #434851;
  --g-color-grey-900: #121417;

  --g-box-shadow: 0px 2px 4px rgba(18, 20, 23, 0.06),
    0px 3px 6px rgba(18, 20, 23, 0.07), 0px -2px 6px rgba(18, 20, 23, 0.06);

  --g-font-family: "Helvetica";

  --g-font-size-x-small: 0.75rem; /* 12px */
  --g-font-size-small: 0.875rem; /* 14px */
  --g-font-size-base: 1rem; /* 16px */
  --g-font-size-large: 1.25rem; /* 20x */
  --g-font-size-x-large: 1.5rem; /* 24px */
  --g-font-size-2x-large: 2rem; /* 32px */
  --g-font-size-3x-large: 2.5rem; /* 40px */
  --g-font-size-4x-large: 4rem; /* 64px */

  --g-font-weight-light: 200;
  --g-font-weight-base: 400;
  --g-font-weight-semi-bold: 500;
  --g-font-weight-bold: 600;
  --g-font-weight-black: 700;

  --g-border-radius-small: 0.5rem;
  --g-border-radius-base: 1rem;
  --g-border-radius-large: 1.5rem;

  --g-spacing-small: 0.5rem; /* 8px */
  --g-spacing-base: 1rem; /* 16px */
  --g-spacing-large: 1.5rem; /* 24px */
  --g-spacing-x-large: 2rem; /* 32px */
  --g-spacing-2x-large: 2.5rem; /* 40px */
  --g-spacing-3x-large: 3rem; /* 48px */
  --g-spacing-6x-large: 6rem; /* 96px */
}

@font-face {
  font-family: Manifold Extended CF;
  src: url("/manifoldextendedcf-bold.otf") format("opentype");
}
@font-face {
  font-family: Franklin Gothic Book;
  src: url("/FranklinGothicBookRegular.ttf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: var(--g-font-family);
}

a {
  color: inherit;
  text-decoration: none;
}

.text-subtle {
  color: var(--g-color-grey-600);
  font-size: var(--g-font-size-x-small);
  font-weight: var(--g-font-weight-base);
}

.text-body-1 {
  font-size: var(--g-font-size-2x-large);
  font-weight: var(--g-font-weight-base);
}

.text-body-2 {
  font-size: var(--g-font-size-x-large);
  font-weight: var(--g-font-weight-light);
  letter-spacing: -2px;
}

.text-body-3 {
  color: var(--g-color-grey-900);
  font-size: var(--g-font-size-small);
  font-weight: var(--g-font-weight-base);
}

.text-display-1 {
  font-size: var(--g-font-size-4x-large);
  font-weight: var(--g-font-weight-black);
  line-height: 1.2;
}

.text-display-2 {
  font-size: var(--g-font-size-3x-large);
  font-weight: var(--g-font-weight-black);
  line-height: 1.4;
}

.text-display-3 {
  font-size: var(--g-font-size-x-large);
  font-weight: var(--g-font-weight-black);
}

.text-heading-1 {
  font-size: var(--g-font-size-large);
  font-weight: var(--g-font-weight-semi-bold);
}

.text-heading-2 {
  font-size: var(--g-font-size-base);
  font-weight: var(--g-font-weight-semi-bold);
}

.spacing-1 {
  margin-bottom: var(--g-spacing-base);
}

.spacing-2 {
  margin-bottom: var(--g-spacing-large);
}

.spacing-3 {
  margin-bottom: var(--g-spacing-x-large);
}

.container {
  padding: var(--g-spacing-x-large);
  margin: auto;
}

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: var(--g-spacing-x-large);
  padding-top: var(--g-spacing-x-large);
  width: 100%;
}

.sign-in-btn {
  margin-right: var(--g-spacing-small);
}

.btn {
  font-family: "Manifold Extended CF";
  display: inline-block;
  font-size: var(--g-font-size-x-small);
  letter-spacing: 1px;
  padding: var(--g-spacing-base) var(--g-spacing-base);
}

.btn-ghost {
  color: var(--g-color-grey-700);
}

.btn-dark {
  background-color: var(--g-color-grey-900);
  color: var(--g-color-white);
}

.btn-dark:hover {
  background-color: var(--g-color-grey-700);
}

.btn-light {
  background: var(--g-color-white);
  color: var(--g-color-black);
  font-weight: 600;
}

.btn-big {
  font-size: var(--g-font-size-large);
  padding: var(--g-font-size-large) var(--g-font-size-x-large);
}

.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 45rem;
  justify-content: center;
  text-align: center;
}

.hero-title {
  margin-bottom: var(--g-spacing-x-large);
}

.hero-tagline {
  margin-bottom: var(--g-spacing-3x-large);
}

.link {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  font-family: Manifold Extended CF;
  font-size: var(--g-font-size-small);
}

.link:hover {
  background: #f1f2f4;
}

.footer {
  padding-bottom: var(--g-spacing-x-large);
  padding-top: var(--g-spacing-x-large);
}

.footer-tagline {
  margin-bottom: var(--g-font-size-x-small);
  margin-top: var(--g-font-size-x-small);
}

.start-hero {
  padding: var(--g-spacing-2x-large);
  text-align: center;
}

.start-hero-intro {
  margin-bottom: var(--g-spacing-base);
}

.avatar {
  align-items: center;
  background-color: var(--g-color-grey-100);
  border-radius: var(--g-border-radius-large);
  display: flex;
  height: var(--g-spacing-3x-large);
  justify-content: center;
  text-align: center;
  width: var(--g-spacing-3x-large);
}

.profile-blob {
  align-items: center;
  display: grid;
  gap: var(--g-spacing-base);
  grid-template-columns: auto 1fr;
}

.next-steps-section {
  margin-top: var(--g-spacing-2x-large);
}

.center {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.pb-5 {
  padding-bottom: 10rem;
}

.access-card-wrapper {
  background: linear-gradient(
    180deg,
    rgba(239, 240, 242, 1) 42%,
    rgba(223, 228, 231, 1) 100%
  );
  height: 100vh;
}

.access-card {
  border-radius: var(--g-border-radius-base);
  box-shadow: 0px 11px 9px 0px rgba(82, 90, 82, 0.47);
  -webkit-box-shadow: 0px 11px 9px 0px rgba(82, 90, 82, 0.47);
  -moz-box-shadow: 0px 11px 9px 0px rgba(82, 90, 82, 0.47);
  max-width: 350px;
  min-height: 560px;
  background-color: #f0f3f8;
  border: 1px solid rgba(82, 90, 82, 0.1);
  outline: 1px solid rgba(82, 90, 82, 0.1);
  outline-offset: -5px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.access-card--back {
  transform: rotateY(180deg) translateY(-560px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.access-card__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 26px;
}

.access-card dl {
  padding: 0.7rem;
}

.access-card dt {
  color: #abb38a;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.access-card dd {
  color: #555c47;
  font-family: "Franklin Gothic Book";
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.access-card__profile-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  bottom: 0;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.float-right {
  float: right;
}

.logged-in-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 1rem;
}

.retro-button {
  font-family: Courier, monospace;
  font-weight: 500;
  letter-spacing: -1px;
  background-color: #d9d9d9;
  outline: 2px solid #656565;
  outline-offset: -4px;
  display: inline-block;
  padding: 6px;
  font-weight: 500;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-top: 2px solid white;
  border-left: 2px solid white;
  cursor: pointer;
  position: relative;
}

.retro-button:active {
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  border-top: 2px solid black;
  border-left: 2px solid black;
}
.retro-button:active .retro-button__text {
  margin-left: 1px;
}
.retro-button__inner {
  border: 2px dotted #3c3c3c;
  display: block;
  padding: 2px 10px;
}

.flip-card {
  background-color: transparent;
  width: 350px;
  height: 560px;
  perspective: 1000px;
  margin: auto;
  margin-top: 5rem;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.logged-in-layout {
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(239, 240, 242, 1) 42%,
    rgba(223, 228, 231, 1) 100%
  );
}
